@import url("https://unpkg.com/reset-css@5.0.1/reset.css");

body {
    font-family: Consolas, monospace;
    font-size: 0.7em;

    margin: 1em;
    background: #2d1e1e;
    overflow-y: hidden;
}

pre {
    color: grey;
    tab-size: 4;
   
    width: 100%;
    height: 94vh;
}

button {
    border: none;
    border-radius: 2em;

    background-color: #1a1616;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}